.reverseAdblock {
	background-color: white;
	box-sizing: border-box;
	position: fixed;
	right: 1em;
	bottom: 1em;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	text-align: right;
	max-width: 50vw;
}

.reverseAdblock::after {
	--offset: 0;
	content: '';
	position: absolute;
	left: var(--offset);
	right: var(--offset);
	top: var(--offset);
	bottom: var(--offset);
	pointer-events: none;
	border: 4px solid deeppink;
}

.reverseAdblock__wrapper {
	padding: 1em;
}

.reverseAdblock__title {
	margin: 0 0 1em;
	font-size: inherit;
}

.reverseAdblock__paragraph {
	margin: 0;
}

.reverseAdblock__paragraph + .reverseAdblock__paragraph {
	margin-top: 1em;
}

